.review-date {
    font-size: 12px;
}

.btn {
    width: 30%;
    height: 40px;

    &.btn-action {
        position: absolute;
        z-index: 999;
        left: 95%;
        top: 55%;
    }
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
}
