<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 bg-gradient-dark">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-8">
              <div class="icon icon-shape icon-shape-white rounded-circle mb-4">
                <i class="fa fa-home"></i>
              </div>
              <h1 class="display-3  text-white">Buy the Most Recent Tech
                <span>simply and securely</span>
              </h1>
              <p class="lead text-white">DzTechly is a Tech shop in which you can lookup, order and receive your desired
                product in no time. You may also reserve it and retreive it in our physical shop.</p>
              <div class="btn-wrapper">
                <a href="" class="btn btn-success btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-sign-in"></i></span>
                  <span class="btn-inner--text">Login to your account</span>
                </a>
                <a href="" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-android"></i></span>
                  <span class="btn-inner--text">Download the Mobile App</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-cart"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Huge selection of products</h6>
                  <p class="description mt-3">In this shop you will find the latest tech products availabe in Algeria at
                    the best prices.</p>
                  <div>
                    <span class="badge badge-pill badge-primary mr-1">Computer parts</span>
                    <span class="badge badge-pill badge-primary mr-1">I/O Devices</span>
                    <span class="badge badge-pill badge-primary mr-1">Networking</span>
                    <span class="badge badge-pill badge-primary">And more...</span>
                  </div>
                  <a href="" class="btn btn-primary mt-4">Go to the shop now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="fa fa-truck"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Delivery/Reserve Service</h6>
                  <p class="description mt-3">We offer our customers a delivery service at multiple price tags plus and
                    option to retreive their products without any fee at our shop.</p>
                  <div>
                    <span class="badge badge-pill badge-success mr-1">Fast delivery</span>
                    <span class="badge badge-pill badge-success mr-1">Slow delivery</span>
                    <span class="badge badge-pill badge-success">Come and get it!</span>
                  </div>
                  <a href="" class="btn btn-success mt-4">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/brand/configure_pc.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Craft your own computer</h3>
            <p>We offer a service that allows you create and customize your own Computer, choose what you need from
              Motherboard to CPU!</p>
            <div class="mt-5">
              <a href="" class="btn btn-primary btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--text">Check it out now</span>
                <span class="btn-inner--icon"><i class="fa fa-arrow-right"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-success shadow border-0">
            <img src="./assets/img/brand/placeholder.png" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-success" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-success" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white"><i class="fa fa-android"></i> Mobile App</h4>
              <p class="lead text-italic text-white">Get the mobile application on android and shop from your phone!</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="fa fa-mobile"></i>
            </div>
            <p class="lead">PLACEHOLDER Don't let your uses guess by attaching tooltips and popoves to any element. Just
              make sure
              you enable them first via JavaScript.</p>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and
              images and you're good to go.</p>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and
              images and you're good to go.</p>
            <div class="mt-5">
              <a href="" class="d-inline-block btn btn-success btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--text">Download it now!</span>
                <span class="btn-inner--icon"><i class="fa fa-android"></i></span>
              </a>
              <span class="text-muted d-block">Requires android 7.0 or more</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>