img {
    height: 170px;
    width: 140px
}

li {
    user-select: none;
}

.hover:hover:not(.selected) {
    background-color: rgba(189, 189, 189, 0.548);
    cursor: pointer;
    transition: all 0.15s;
}

.selected {
    background-color: #c4cbf5d2;
    transition: all 0.15s;
    cursor: pointer;
}