<div class="container-fluid pb-0 mb-0 justify-content-center text-light bg-dark footer">
    <footer>
        <div class="mx-4 justify-content-cente pb-3">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-12 my-auto mx-auto a">
                    <h3 class="text-secondary mb-md-0 mb-5 bold-text">DzTechly.
                    </h3>
                </div>
                <div class="col-lg-4 col-sm-4 col-12">
                    <h5 class="mb-3  text-secondary bold-text mt-sm-0 mt-5"><b><i class="fa fa-bars"></i> Menu</b></h5>
                    <ul class="list-unstyled">
                        <li><a href=""><i class="fa fa-home"></i> Home</a></li>
                        <li><a href=""><i class="ni ni-bullet-list-67"></i> Products</a></li>
                        <li><a href=""><i class="ni ni-settings"></i> Configure your computer</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-4 col-12">
                    <h5 class="mb-3 mb-lg-4 text-white bold-text mt-sm-0 mt-5"><b><i class="fa fa-map-marker"></i>
                            Address</b></h5>
                    <p class="mb-1 text-white">City 250 Building ETE EL Khroub Constantine</p>
                    <p class="mb-1 text-white">Parc of liberty</p>
                </div>
            </div>
            <div class="row copyright pt-3 mt-3 d-flex align-items-center">
                <div class="col-12 col-md-6 text-center text-white">
                    Copyright &#169; 2021 by DzTechly. All Rights Reserved.
                </div>
                <div class="col-12 col-md-6 text-center social">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </footer>
</div>