<ng-container *ngIf="(user$ | async) as user">
    <main>
        <div class="position-relative">
            <!-- shape Hero -->
            <section class="section section-lg section-shaped pb-250">
                <div class="shape shape-style-1 bg-gradient-dark">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="container py-lg-md d-flex">
                    <h1 class="display-3  text-white">Update Your Account - {{user.userName}}
                    </h1>
                </div>
                <!-- SVG separator -->
                <div class="separator separator-bottom separator-skew">
                    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1">
                        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                    </svg>
                </div>
            </section>
            <!-- 1st Hero Variation -->
        </div>
        <section class="section pt-lg-0 mt--200">
            <div class="container mt-3">
                <div class="card shadow p-5">
                    <ng-container *ngIf="errors">
                        <app-form-errors [errors]="errors"></app-form-errors>
                    </ng-container>
                    <small><span class="text-danger">*</span> required field</small>
                    <div [formGroup]="accountForm">
                        <ul ngbNav #nav="ngbNav" class="nav nav-pills justify-content-center">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink><i class="fa fa-user"></i> Profile</a>
                                <ng-template ngbNavContent>
                                    <div class="container mt-3">
                                        <form formGroupName="profileForm" (submit)="onProfileSubmit()">
                                            <app-text-input formControlName="userName" [isRequiredAterisc]="true"
                                                [label]="'Username'">
                                            </app-text-input>
                                            <app-text-input formControlName="email" [isDisabled]="true"
                                                [label]="'Email Address'">
                                            </app-text-input>
                                            <small><em>Your email address is <span class="text-success">verified</span>
                                                    you cannot change it.</em></small>
                                            <br>
                                            <app-text-input formControlName="password" [isRequiredAterisc]="true"
                                                [label]="'Password'" [type]="'password'">
                                            </app-text-input>
                                            <app-text-input formControlName="confirmPassword"
                                                [label]="'Confirm Password'" [isRequiredAterisc]="true"
                                                [type]="'password'">
                                            </app-text-input>
                                            <button
                                                [disabled]="!accountForm.get('profileForm').valid || loading || (!accountForm.get('profileForm').get('email').dirty && !accountForm.get('profileForm').get('userName').dirty)"
                                                class="btn btn-lg btn-primary btn-block mb-3" type="submit">Save changes
                                                <i *ngIf="loading" class="fa fa-spin fa-spinner"></i></button>
                                        </form>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink><i class="fa fa-lock"></i> Password</a>
                                <ng-template ngbNavContent>
                                    <div class="container mt-3">
                                        <form formGroupName="passwordForm" (submit)="onPasswordSubmit()">
                                            <app-text-input formControlName="newPassword" [isRequiredAterisc]="true"
                                                [label]="'New Password'" [type]="'password'">
                                            </app-text-input>
                                            <app-text-input formControlName="confirmNewPassword"
                                                [isRequiredAterisc]="true" [label]="'Confirm New Password'"
                                                [type]="'password'"> </app-text-input>
                                            <app-text-input formControlName="oldPassword" [label]="'Old Password'"
                                                [type]="'password'" [isRequiredAterisc]="true">
                                            </app-text-input>
                                            <app-text-input formControlName="confirmOldPassword"
                                                [isRequiredAterisc]="true" [isRequiredAterisc]="true"
                                                [label]="'Confirm Old Password'" [type]="'password'">
                                            </app-text-input>
                                            <button [disabled]="!accountForm.get('passwordForm').valid || loading"
                                                class="btn btn-lg btn-primary btn-block mb-3" type="submit">Save changes
                                                <i *ngIf="loading" class="fa fa-spin fa-spinner"></i></button>
                                        </form>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="3">
                                <a ngbNavLink><i class="fa 
                                    fa-map-marker"></i> Address</a>
                                <ng-template ngbNavContent>
                                    <div class="container mt-3">
                                        <form formGroupName="addressForm" (submit)="onAddressSubmit()">
                                            <div class="row">
                                                <div class="form-group col-6">
                                                    <app-text-input [label]="'Wilaya'" formControlName="wilaya">
                                                    </app-text-input>
                                                </div>
                                                <div class="form-group col-6">
                                                    <app-text-input [label]="'City'" formControlName="city">
                                                    </app-text-input>
                                                </div>
                                                <div class="form-group col-6">
                                                    <app-text-input [label]="'Street'" formControlName="street">
                                                    </app-text-input>
                                                </div>
                                                <div class="form-group col-6">
                                                    <app-text-input [label]="'Zip Code'" formControlName="zipcode">
                                                    </app-text-input>
                                                </div>
                                            </div>
                                            <button [disabled]="!accountForm.get('addressForm').valid || 
                                !accountForm.get('addressForm').dirty || loading"
                                                class="btn btn-lg btn-primary btn-block mb-3" type="submit">Save changes
                                                <i *ngIf="loading" class="fa fa-spin fa-spinner"></i></button>
                                        </form>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="4">
                                <a ngbNavLink><i class="fa fa-info-circle"></i> Personal Informations</a>
                                <ng-template ngbNavContent>
                                    <div class="container mt-3">
                                        <form formGroupName="personalInfoForm" (submit)="onPersonalInfoSubmit()">
                                            <div class="row">
                                                <div class="form-group col-6">
                                                    <app-text-input [label]="'First Name'" formControlName="firstName">
                                                    </app-text-input>
                                                </div>
                                                <div class="form-group col-6">
                                                    <app-text-input [label]="'Last Name'" formControlName="lastName">
                                                    </app-text-input>
                                                </div>
                                                <div class="form-group col-6">
                                                    <app-text-input [label]="'Birth Date'" [type]="'date'"
                                                        formControlName="birthDate">
                                                    </app-text-input>
                                                </div>
                                            </div>
                                            <button [disabled]="!accountForm.get('personalInfoForm').valid || 
                                !accountForm.get('personalInfoForm').dirty || loading"
                                                class="btn btn-lg btn-primary btn-block mb-3" type="submit">Save changes
                                                <i *ngIf="loading" class="fa fa-spin fa-spinner"></i></button>
                                        </form>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav" class="mt-4"></div>

                    </div>
                </div>
            </div>
        </section>
    </main>
</ng-container>