<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-dark">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md py-5">
            <div class="card shadow p-5">
                <div class="d-flex justify-content-center">
                    <div class="col-md-6 col-10">
                        <form [formGroup]="resetPasswordForm" (submit)="onSubmit()">
                            <div class="text-center">
                                <i class="fa fa-lock icon"></i>
                                <h3 class="mb-3 font-weight-bold">Reset your password</h3>
                                <p>Please enter your email address to receive a password reset link</p>
                            </div>
                            <app-text-input formControlName="email" [label]="'Email Address'" [type]="'email'">
                            </app-text-input>
                            <button [disabled]="checking || resetPasswordForm.invalid"
                                class="btn btn-lg btn-primary btn-block mb-3" type="submit">Send <i *ngIf="loading"
                                    class="fa fa-spin fa-spinner"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>