<ng-container *ngIf="order">
    <main>
        <section class="section section-shaped section-lg">
            <div class="shape shape-style-1 bg-gradient-dark">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container pt-lg-md py-5">
                <div class="card shadow p-5">
                    <h4 class="font-weight-bold text-primary">
                        Payment #{{order.paymentIntentId}}
                    </h4>
                    <div *ngIf="order">
                        <h4 class="font-weight-bold border-bottom mb-3 text-primary">Order
                            #{{order.id}}</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <span class="font-weight-bold">Status: </span>
                                <app-status-badge
                                    [content]="{value: order.status, color: order.status === 'Payement Received'? 'success' : order.status === 'Payement Failed' ? 'danger' : 'primary'}">
                                </app-status-badge>
                            </li>
                            <li class="mb-3">
                                <span class="font-weight-bold">Date of Order:</span> {{order.orderDate|date:'medium'}}
                            </li>
                            <li class="mb-3">
                                <span class="font-weight-bold">Buyer Name:</span>
                                {{order.personalInformation.firstName}}
                                {{order.personalInformation.lastName}}
                            </li>
                            <li class="mb-3">
                                <span class="font-weight-bold">Buyer Birth Date:</span>
                                {{order.personalInformation.birthDate|date:'shortDate'}}
                            </li>
                            <li class="mb-3">
                                <span class="font-weight-bold">Delivery Method:</span> {{order.deliveryMethod}}
                                ({{order.shippingPrice|currency}})
                            </li>
                        </ul>
                        <h4 class="font-weight-bold border-bottom my-4 text-primary">Delivery Address </h4>
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <span class="font-weight-bold">Wilaya:</span> {{order.shipToAddress.wilaya}}
                            </li>
                            <li class="mb-3">
                                <span class="font-weight-bold">City:</span> {{order.shipToAddress.city}}
                                {{order.personalInformation.lastName}}
                            </li>
                            <li class="mb-3">
                                <span class="font-weight-bold">Street:</span> {{order.shipToAddress.street}}
                            </li>
                        </ul>
                        <h4 class="font-weight-bold border-bottom my-4 text-primary">Products & Pricing: </h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-dark text-light">
                                    <tr>
                                        <th scope="col">
                                            <div class="p-2 text-uppercase">Product</div>
                                        </th>
                                        <th scope="col">
                                            <div class="py-2 text-uppercase">Price</div>
                                        </th>
                                        <th scope="col">
                                            <div class="py-2 text-uppercase">Quantity</div>
                                        </th>
                                        <th scope="col">
                                            <div class="py-2 text-uppercase">Total</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of order.orderItems">
                                        <th scope="row">
                                            <div class="p-2">
                                                <img src="{{item.pictureUrl}}" alt="{{item.productName}}"
                                                    class="img-fluid" style="max-height: 50px">
                                                <div class="ml-3 d-inline-block align-middle">
                                                    <a class="mb-0" routerLink="/shop/{{item.productId}}">
                                                        {{item.productName}}
                                                    </a>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="align-middle"><strong>{{item.price | currency}}</strong></td>
                                        <td class="align-middle">
                                            <span class="font-weight-bold px-2">{{item.quantity}}</span>
                                        </td>
                                        <td class="align-middle"><strong>{{item.price * item.quantity |
                                                currency}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="bg-dark px-4 py-3 text-uppercase font-weight-bold text-light">Order totals</div>
                        <div class="p-4">
                            <ul class="list-unstyled mb-1">
                                <li class="d-flex justify-content-between py-3 border-bottom">
                                    <strong class="text-muted">Order subtotal</strong>
                                    <strong>{{order.subtotal | currency}}</strong>
                                </li>
                                <li class="d-flex justify-content-between py-3 border-bottom">
                                    <strong class="text-muted">Shipping and handling</strong>
                                    <strong>{{order.shippingPrice | currency}}</strong>
                                </li>
                                <li class="d-flex justify-content-between py-3 border-bottom">
                                    <strong class="text-muted">Total</strong>
                                    <strong>{{order.total | currency}}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</ng-container>