<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-dark">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md py-5">
            <div class="card shadow p-5">
                <div class="text-center">
                    <i class="fa fa-check-circle text-success icon"></i>
                    <h3>Success!</h3>
                    <p>A validation link has been sent to your email: </p>
                    <p class="font-weight-bold">{{email}}</p>
                    <small>Please follow the steps there to complete the process.</small>
                    <div class="d-flex justify-content-center my-3">
                        <a [routerLink]="'/'" class="btn btn-outline-primary btn-lg mr-3"><i class="fa fa-home"></i>
                            Take Me Home </a>
                        <a [routerLink]="'/shop'" class="btn btn-primary btn-lg"><i class="fa fa-shopping-cart"></i>
                            To the shop </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>