<nav
    class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <a class="navbar-brand ml-5" [routerLink]="['/']" href="#">DzTechly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [(ngbCollapse)]="isCollapsed" id="navbar-primary">
        <div class="navbar-collapse-header">
            <div class="row">
                <div class="col-6 collapse-brand">
                    <a>
                        DzTechly
                    </a>
                </div>
                <div class="col-6 collapse-close">
                    <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
                <a class="nav-link" href="" [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" [routerLink]="['/shop']">
                    <i class="ni ni-bullet-list-67"></i> Products</a>
            </li>
            <!-- <li class="nav-item dropdown" ngbDropdown display="dynamic" placement="bottom-right">
                <a class="nav-link dropdown" ngbDropdownToggle role="button">
                    <i class="ni ni-bullet-list-67"></i> Products
                </a>
                <div ngbDropdownMenu class="p-4" style="width: 450px;">
                    <h6><a href="" [routerLink]="['/shop']">View all products</a></h6>
                    <div class="row">
                        <ul class="category-list col">
                            <li class="category"><a href="">Part</a></li>
                            <li class="type"><a class="text-default" href="" >Cpu</a></li>
                            <li class="type"><a class="text-default" href="">Gpu</a></li>
                            <li class="type"><a class="text-default" href="">Ram</a></li>
                        </ul>
                        <ul class="category-list col">
                            <li class="category"><a href="">Peripheral</a></li>
                            <li class="type"><a class="text-default" href="">Keyboard/Mouse</a></li>
                            <li class="type"><a class="text-default" href="">Screen</a></li>
                            <li class="type"><a class="text-default" href="">Printer</a></li>
                        </ul>
                        <ul class="category-list col">
                            <li class="category"><a href="">Portable</a></li>
                            <li class="type"><a class="text-default" href="">Computer</a></li>
                            <li class="type"><a class="text-default" href="">Tablet</a></li>
                        </ul>
                    </div>
                </div>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="ni ni-settings"></i> Configure your pc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/cart']">
                    <span class="badge badge-warning cart-count" *ngIf="(cart$ | async) as cart">{{cart.items.length}}</span>
                    <i class="ni ni-cart"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-sign-in"></i> Login</a>
            </li>
        </ul>
    </div>
</nav>