<nav
    class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <a class="navbar-brand ml-5" [routerLink]="['/']" href="#">DzTechly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [(ngbCollapse)]="isCollapsed" id="navbar-primary">
        <div class="navbar-collapse-header">
            <div class="row">
                <div class="col-6 collapse-brand">
                    <a>
                        DzTechly
                    </a>
                </div>
                <div class="col-6 collapse-close">
                    <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
                <a class="nav-link" href="" [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" [routerLink]="['/shop']">
                    <i class="ni ni-bullet-list-67"></i> Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/cart']">
                    <span class="badge badge-warning cart-count"
                        *ngIf="(cart$ | async) as cart">{{cart.items.length}}</span>
                    <i class="ni ni-cart"></i>
                </a>
            </li>
            <ng-container *ngIf="(user$ | async) === null">
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/account/login']"><i class="fa fa-sign-in"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/account/register']"><i class="fa fa-user-plus"></i> Register</a>
                </li>
            </ng-container>
            <ng-container *ngIf="(user$ | async) as user">
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle role="button">
                        <i class="fa fa-user">
                        </i>
                        Welcome {{user.userName}}!
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                        <a ngbDropdownItem routerLink="/account/profile" class="dropdown-item d-flex align-items-center">
                            <i class="fa fa-user fa-fw mr-3"></i>Your Account
                        </a>
                        <a ngbDropdownItem routerLink="/orders" class="dropdown-item d-flex align-items-center">
                            <i class="fa fa-history fa-fw mr-3"></i>View Orders
                        </a>
                        <div class="dropdown-divider" *appHasRole="['Administrator']"></div>
                        <a ngbDropdownItem routerLink="/dashboard" class="dropdown-item d-flex align-items-center" *appHasRole="['Administrator']">
                            <i class="ni ni-settings-gear-65 fa-fw mr-3"></i>Dashboard
                        </a>
                        <div class="dropdown-divider"></div>
                        <a ngbDropdownItem (click)="logout()" href="" class="dropdown-item d-flex align-items-center">
                            <i class="fa fa-sign-out fa-fw mr-3"></i>Logout
                        </a>
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>