ul.category-list{
    list-style: none;
    & .category{
        font-size: 20px;
        font-weight: bold;
    }
    & .type{
        margin: 5px;
        font-size: 14px;
    }
}

.dropdown-menu::before, 
.dropdown-menu::after {
    border: none;
    content: none;
}

.dropdown:hover{
    cursor: pointer;
}

.cart-count{
    position: relative;
    bottom: 20px;
    left: 35px;
    z-index: 3;
    background-color: #FA6341;
    color: white;
}

.ni.ni-cart{
    font-size: 20px;
}