<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-shaped">
      <div class="shape shape-style-1 bg-gradient-dark">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="display-3  text-white">Administration dashboard
              </h1>
              <p class="lead text-white">Welcome to the dashboard, this part of the website is only available to
                administrators.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <section class="section section-lg">
    <div class="mx-5">
      <ul ngbNav #nav="ngbNav" class="nav-pills">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Manage products</a>
          <ng-template ngbNavContent>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Statistics</a>
          <ng-template ngbNavContent>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </section>
</main>