<div class="modal-header">
    <h4 class="modal-title text-primary">Add Category</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ng-container *ngIf="errors">
        <app-form-errors [errors]="errors"></app-form-errors>
    </ng-container>
    <div class="form-group">
        <label for="category">Category name </label>
        <input type="text" #category id="category" (change)="onCategoryChange()" placeholder="Enter the category name"
            class="form-control">
    </div>
    <div class="form-group">
        <label for="info">First information name </label>
        <input type="text" id="info" #info (change)="onInfoChange()" placeholder="Enter the first information name"
            class="form-control">
    </div>
    <div class="form-group">
        <label for="unit">First information unit </label>
        <input type="text" id="unit" #unit (change)="onUnitChange()" placeholder="Enter the first information unit"
            class="form-control">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Add</button>
</div>