<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-dark">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md py-5">
            <div class="card shadow p-5">
                <div class="text-center mt-5">
                    <img src="assets/img/send-email.png" alt="send-email logo" class="img-fluid mb-5">
                    <h3>Help us confirm your email address</h3>
                    <p>Please enter your email address to receive a confirmation link</p>
                </div>
                <form [formGroup]="confirmationForm" (submit)="onSubmit()">
                    <app-text-input formControlName="email" [label]="'Email Address'" [type]="'email'"></app-text-input>
                    <button [disabled]="isLoading || !confirmationForm.valid"
                        class="btn btn-lg btn-primary btn-block mb-3" type="submit">Send <i *ngIf="isLoading"
                            class="fa fa-spin fa-spinner"></i></button>
                </form>
            </div>
        </div>
    </section>
</main>