<ng-container *ngIf="product !== undefined">

    <main>
        <div class="position-relative">
            <!-- shape Hero -->
            <section class="section section-lg section-shaped pb-250">
                <div class="shape shape-style-1 bg-gradient-dark">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="container py-lg-md">
                    <div class="icon icon-shape icon-shape-white rounded-circle mb-4">
                        <i class="fa fa-info"></i>
                    </div>
                    <h1 class="display-3  text-white">Product Details
                    </h1>
                </div>
                <!-- SVG separator -->
                <div class="separator separator-bottom separator-skew">
                    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1">
                        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                    </svg>
                </div>
            </section>
            <!-- 1st Hero Variation -->
        </div>
        <section class="section pt-lg-0 mt--200">
            <div class="container mt-3">
                <div class="card shadow p-5">
                    <div class="row" *ngIf="product">
                        <div class="col-md-5 col-12">
                            <img src="{{product.pictureUrl}}" alt="product image" class="img-fluid">
                        </div>
                        <div class="col-md-7 col-12">
                            <div class="row">
                                <div class="col">
                                    <h3>
                                        {{product.name}}
                                        <div>
                                            <span>
                                                <ngb-rating [max]="5" [(rate)]="product.reviewsAverage"
                                                    [readonly]="true" style="color: #5E72E4;font-size: 25px;">
                                                </ngb-rating>
                                            </span>
                                            <span class="text-muted" style="font-size: 14px;"> {{product.reviewsNumber}}
                                                reviews</span>
                                        </div>
                                    </h3>
                                    <div class="d-flex justify-content-start align-items-center">
                                        <span class="badge badge-primary mr-2">{{product.price | currency}}</span>
                                        <span class="badge badge-danger mr-2">{{product.productCategory}}</span>
                                        <span class="badge badge-warning">{{product.productType}}</span>
                                    </div>
                                    <div class="mt-3">
                                        <h5>Description</h5>
                                        <p>
                                            {{product.description}}
                                        </p>
                                    </div>
                                    <div class="alert alert-warning" *ngIf="!product.isInStock" role="alert">
                                        <strong><i class="fa fa-warning fa-lg"></i></strong> This product is out of
                                        stock!
                                    </div>
                                    <div class="text-left text-success" *ngIf="product.isInStock">
                                        <i class="fa fa-check fa-lg"></i> In Stock! <em
                                            class="text-muted">({{product.quantity}} left)</em>
                                    </div>
                                    <div class="mt-1 d-flex justify-content-between align-items-center">
                                        <div class="mt-4">
                                            <i (click)="decrementQuantity()"
                                                class="fa fa-minus-circle i-product-count"></i>
                                            <span class="mx-2 font-weight-bold" id="product-count">{{quantity}}</span>
                                            <i (click)="incrementQuantity()"
                                                class="fa fa-plus-circle i-product-count"></i>
                                        </div>
                                        <div class="mt-4">

                                            <ng-container *ngIf="(user$ | async) as user">
                                                <input *ngIf="product.isInStock" type="button" value="Add to cart"
                                                    (click)="addItemToCart()" class="btn btn-primary">
                                                <button *ngIf="!product.isInStock" [disabled]="loading"
                                                    (click)="addToList()" class="btn btn-primary">Add me to the waiting
                                                    list <i *ngIf="loading" class="fa fa-spin fa-spinner"></i></button>
                                            </ng-container>
                                            <ng-container *ngIf="!(user$ | async) as user">
                                                <small class="text-dark"><em>You must be logged in to add a product to
                                                        your cart</em></small>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-bot">
            <div class="container">
                <ul ngbNav #nav="ngbNav" class="nav nav-pills justify-content-center">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink><i class="fa fa-question-circle"></i> Technical Sheet</a>
                        <ng-template ngbNavContent>
                            <div class="row mb-2 info-category" *ngFor="let info of categories">
                                <div class="col-12 col-md-4">
                                    <h5 class="text-primary sheet-category-name">{{info[0]}}</h5>
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="pb-3 sheet-category-value" *ngFor="let value of info[1]">
                                        <h6 class="text-black d-inline">{{value.additionalInfoName}}: </h6>
                                        <p class="d-inline" *ngIf="value.additionalInfoValue !== null">
                                            {{value.additionalInfoValue}}</p>
                                        <span class="text-info"
                                            *ngIf="value.unit !== null && value.additionalInfoValue !== null && value.additionalInfoValue !== ''">
                                            {{value.unit}}</span>
                                        <p class="d-inline text-warning"
                                            *ngIf="value.additionalInfoValue === null || value.additionalInfoValue === ''">
                                            Not specified</p>

                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink><i class="fa fa-star"></i> Customer opinions</a>
                        <ng-template ngbNavContent>
                            <div class="row mt-5">
                                <div class="col">
                                    <app-product-review [productId]="product.id"></app-product-review>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3" *ngIf="product.quantity <= 0">
                        <a ngbNavLink><i class="fa fa-list"></i> View Waiting list</a>
                        <ng-template ngbNavContent>
                            <div class="mt-5">
                                <ng-container *ngIf="!(user$ | async) as user">
                                    <div class="alert alert-warning">
                                        <i class="fa fa-warning"></i> You must be <a [routerLink]="['/account/login']"
                                            class="alert-link">Logged
                                            in</a> to view the waiting list of a product
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="product.waitingCustomers.length === 0 && (user$ | async) as user">
                                    <div class="text-center">
                                        <p>There is currently no customer waiting for this product yet.</p>
                                        <button class="btn btn-primary" [disabled]="loading" (click)="addToList()">Add
                                            me to the
                                            list! <i *ngIf="loading" class="fa fa-spin fa-spinner"></i></button>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="product.waitingCustomers.length > 0 && (user$ | async) as user">
                                    <p>There is currently <span class="font-weight-bold text-info">{{product.waitingCustomers.length}}</span> customer waiting for this product:</p>
                                    <ul>
                                        <li *ngFor="let item of product.waitingCustomers">
                                            {{item.userName}}
                                        </li>
                                    </ul>
                                </ng-container>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="4" *appHasRole="['Administrator']">
                        <a ngbNavLink><i class="fa fa-cogs"></i> Manage this product</a>
                        <ng-template ngbNavContent>
                            <div class="mt-5">
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-warning" (click)="openUpdateModal()"><i class="fa fa-pencil"></i> Update the
                                        product</button>
                                    <button class="btn btn-danger" (click)="openDeleteModal()"><i
                                            class="fa fa-times"></i> Delete the
                                        product</button>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-4"></div>
            </div>
        </section>
    </main>
</ng-container>