.i-product-count {
  color: rgb(196, 196, 196);
  transition: 0.3s all;
  font-size: 1.5rem;

  &:hover {
    color: #5e72e4;
    cursor: pointer;
  }
}

#product-count {
  font-size: 1.25em;
  user-select: none;
}

.section-bot {
  padding-top: 0 !important;
}

.sheet-category-name {
  font-weight: bold;
}

.info-category{
  border-bottom: 1px solid #5f73e438;
}

.average-review{
  font-size: 28px;
}

.max-review{
  font-size: 38px;
}